.header-wrapper {
    min-height: 250px;
}

.header-logo {
    position: absolute;
    pointer-events: none;
}

@media (min-width: 720px) {
    .fb-responsive {
        flex-direction: row;
    }
    .logo-placeholder {
        height: 200px;
    }
    .header-logo {
        margin-right: 250px;
    }
    .jc-center-responsive {
        justify-content: center;
    }
}

@media (max-width: 720px) {
    .fb-responsive {
        flex-direction: column;
    }
    .logo-placeholder {
        height: 260px;
    }
}


@media (prefers-reduced-motion: no-preference) {
    .header-logo-caption {
        animation: header-logo-spin infinite 20s linear;
    }
}

@keyframes header-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

