/* margins: */
.mt-1 {margin-top: 10px;}
.mt-2 { margin-top: 15px;}
.mt-3 { margin-top: 20px;}
.mt-4 { margin-top: 25px;}
.mt-5 { margin-top: 30px;}
.mt-10vh { margin-top: 10vh; }

.mb-1 { margin-bottom: 10px; }

.ml-1 { margin-left: 10px; }
.ml-2 { margin-left: 15px;}
.ml-3 { margin-left: 20px;}
.ml-4 { margin-left: 25px;}
.ml-5 { margin-left: 30px;}
.ml-6 { margin-left: 35px;}
.ml-7 { margin-left: 40px;}

.mr-1 { margin-right: 10px; }
